# Binary Output Directory
bin/

# Binary Output Files
*.exe
*.test
*.prof
*.iml
cover*.out

# Helm Charts & tarballs
*.tgz

# Project-specific
aman.json
wrk.log

# IDE
.idea
.vscode/

# DevSpace
.devspace/

# AI
Plan.md

# CSS Output
**/assets/css/app.css

# JavaScript Output
**/assets/js/app.js

#### LATEX #####
## https://github.com/github/gitignore/blob/main/TeX.gitignore
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.pygtex
*.pygstyle

## Latex Output Files
**/tools/**/*.pdf

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# beamer
*.nav
*.pre
*.snm
*.vrb

# glossary
*.glg
*.glo
*.gls*
*.ist
*.acn
*.acr
*.alg

# Inkscape
svg-inkscape

/processed
/.opencode
