# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Binary Output Directory
bin/

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.iml
cover*.out
.idea
aman.json
wrk.log

#DB
gorm.db
dist/

# Helm
*.tgz

# Ignore DevSpace cache and log folder
.devspace/


#### LATEX #####
## https://github.com/github/gitignore/blob/main/TeX.gitignore
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.pygtex
*.pygstyle

## Latex Output Files
**/tools/**/*.pdf

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# beamer
*.nav
*.pre
*.snm
*.vrb

# glossary
*.glg
*.glo
*.gls*
*.ist
*.acn
*.acr
*.alg

# Inkscape
svg-inkscape

# AI
.aider*
Plan.md
repomix-output.md
.roomodes
memory-bank/
.cline*
aider.md
components/kohan/testdata/tax/tax_summary_2023.xlsx
