package components

type CellLinkProps struct {
	HrefExpr string
	TextExpr string
}

templ CellLink(props CellLinkProps) {
	<a class="font-medium text-sky-700 hover:text-sky-900 hover:underline" x-bind:href={ props.HrefExpr } x-text={ props.TextExpr }></a>
}
