package components

type Tone string

const (
	ToneBlue   Tone = "blue"
	ToneGreen  Tone = "green"
	ToneCyan   Tone = "cyan"
	ToneSlate  Tone = "slate"
	ToneIndigo Tone = "indigo"
	ToneRose   Tone = "rose"
	ToneAmber  Tone = "amber"
	ToneViolet Tone = "violet"
)
