package components

type FeedbackMessageProps struct {
	ShowExpr   string
	ClassExpr  string
	TextExpr   string
	Class      string
	Attributes templ.Attributes
}

templ FeedbackMessage(props FeedbackMessageProps) {
	<p
		class={ "text-sm " + props.Class }
		x-show={ props.ShowExpr }
		x-bind:class={ props.ClassExpr }
		x-text={ props.TextExpr }
		{ props.Attributes... }
	></p>
}
