package components

import "github.com/templui/templui/components/icon"

type InfoRowProps struct {
	IconName  string
	ValueExpr string
	Class     string
}

templ InfoRow(props InfoRowProps) {
	<div class={ "flex items-center gap-1 text-sm text-muted-foreground " + props.Class }>
		if props.IconName != "" {
			@icon.Icon(props.IconName)(icon.Props{Class: "size-4"})
		}
		if props.ValueExpr != "" {
			<span x-text={ props.ValueExpr }></span>
		}
		{ children... }
	</div>
}
