[Unit]
Description=Fun Service
After=network.target

StartLimitBurst=5
StartLimitIntervalSec=20

[Service]
Type=simple
Restart=always
RestartSec=2
User=root
ExecStart=/usr/sbin/fun-app

[Install]
WantedBy=multi-user.target