[myconfig]
my_home = {{getenv "HOME"}}
my_path = {{getenv "PATH"}}

{{range (seq 1 4)}}
sequence {{.}};{{end}}

{{range lookupIPV4 "localhost"}}
server {{.}};{{end}}

database_url = {{getv "/database/url"}}
database_user = {{getv "/database/user"}}

my_ip={{index (lookupIPV4 "localhost") 0}}