package components

templ StudentGradeOptions(placeholder string) {
	<option value="">{ placeholder }</option>
	<option value="Freshman">Freshman</option>
	<option value="Sophomore">Sophomore</option>
	<option value="Junior">Junior</option>
	<option value="Senior">Senior</option>
}
